:root{
   --darkcyan: hsl(185, 75%, 39%);
   --verydarkdesaturatedblue: hsl(229, 23%, 23%);
   --darkgrayishblue: hsl(227, 10%, 46%);
   --darkgray: hsl(0, 0%, 59%);
}
*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Kumbh Sans', sans-serif;
}
body{
    background-color: var(--darkcyan);
    display: flex;
    justify-content: center;
    height: 57rem;
}
main{
    background-color: white;
    width: 80%;
    /* height: 100%; */
    min-width: 320px;
    max-width: 400px;
    border-radius: 15px;
    margin-top: 100px;
    margin-bottom: 100px;
    /* display: flex; */
}
.background-image{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-height: 128px;
    width: 100%;
}
.image-victor{
    position: absolute;
    left: calc(50% - 52px);
    margin-top: 75px;
    border-radius: 50%;
    border: 5px solid white;
}
.name {
    text-align: center;
    margin-top: 70px;
    font-size: 1.8rem;
    color:var(--darkgray);
}
.name span{
    font-weight: bold;
    color: var(--verydarkdesaturatedblue);
}
.London{
    text-align: center;
    margin-top: 10px;
    font-size: 1.4rem;
    color:var(--darkgray);
}
.stats{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0 25px;
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid var(--darkgray);
}
.Followers span{
    font-weight: bold;
    color: var(--verydarkdesaturatedblue);
    font-size: 1.8rem;
}
.Likes span{
    font-weight: bold;
    color: var(--verydarkdesaturatedblue);
    font-size: 1.8rem;

}
.Photos span{
    font-weight: bold;
    color: var(--verydarkdesaturatedblue);
    font-size: 1.8rem;
}


